.footer {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid $color-borders;

    &__link {
        @extend %type-footer-caps;
        display: inline-block;
        margin: 0 10px;
    }

    &__link-anchor {
        color: $color-footer-links;
    }

    &__copyright {
        @extend %type-footer-caps;
        margin: 0 10px;
    }
    
    @include when-wider-than(tablet) {
        &__links {
            display: inline;
        }
    }
}