.posts-nav {
    width: 250px;
    margin: -48px auto 50px;
    overflow: hidden;

    &__types {
        font-size: 0;
        float: left;
    }

    &__type {
        @extend %type-navigation-caps;
        color: $color-links;
        display: inline-block;
        padding: 10px 15px;
        margin-right: 30px;
        cursor: pointer;
        transition: color .2s $global-easing-function;

        &:hover {
            color: $white;
        }

        &--selected {
            color: $white;
            border-bottom: 4px solid $green;
        }
    }

    &__layouts {
        float: right;
        margin: 8px 0 0;
    }

    &__layout {
        font-size: 8px;
        color: $color-links;
        display: inline;
        cursor: pointer;
        padding: 10px;
        transition: color .2s $global-easing-function;

        &:hover {
            color: $white;
        }

        &--selected {
            color: $white;
        }

        &:first-child {
            margin-right: 5px;
        }
    }

    @include when-wider-than(tablet) {
        width: 575px;
    }
}

.posts {
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;

    &--list {
        margin: 0 20px;

        @include when-wider-than(tablet) {
            width: 575px;
            margin: 0 auto;
        }
    }
}

.post {
    text-align: left;
    padding: 24px 24px 20px 82px;
    border: 1px solid #dee1e5;
    border-radius: $global-border-radius;
    background: $white;
    position: relative;

    .posts--grid & {
        float: left;
        width: calc(100% - 40px);
        margin: 0 12px 24px;
    }

    .posts--list & {
        margin: 0 0 24px;
    }

    &__user-image {
        width: 40px;
        border-radius: $global-border-radius;
        position: absolute;
        left: 24px;
        top: 24px;
    }

    &__user-name {
        @extend %type-post-heading;
        line-height: 1em;
        font-weight: normal;
        color: $color-headings;
        margin: 0;
    }

    &__text {
        margin: 10px 0 0;
    }

    &__media {
        margin: 15px 0 0 -83px;
    }

    &__media-item {
        width: calc(100% + 25px);
    }

    &__footer {
        color: $color-icons;
        margin-top: 15px;
        overflow: hidden;
    }

    &__expand {
        float: left;
        font-size: 12px;
        cursor: pointer;
    }

    &__expand-arrow {
        font-size: 8px;
    }

    &__footer-options {
        float: right;
        margin: 0;
    }

    &__footer-option {
        @include vertical-center;
        font-size: 14px;

        &.icon-share,
        &.icon-heart {
            font-size: 12px;
            margin-right: 15px;
        }
    }

    .post__comments {
        margin-right: -24px;
        margin-left: -82px;
        background: #f9fafc;

        .post {
            margin-bottom: 0;
            border-width: 1px 0 0;
            border-radius: 0;
            background: #f9fafc;
        }

        &-reply {
            border-top: 1px solid #dee1e5;
            padding: 24px;
            margin-bottom: -34px;

            input {
                width: 100%;
                background: $white;
            }
        }
    }

    @include when-on(tablet) {
        .posts--grid & {
            width: calc(50% - 24px);
        }
    }

    @include when-wider-than(small_desktop) {
        .posts--grid & {
            width: calc(33% - 24px);
        }
    }
}

.load-more-posts {
    @extend %type-eyebrow;
    font-size: 12px;
    text-align: center;
    margin: 60px 0 80px;
}