html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend %type-body;
    color: $color-body-text;
}

img {
    width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0;
}


// Forms
input {
    @extend %type-input;
}

label {
    @extend %type-label;
}

button {
    @extend %type-button;
    color: $white;
}