html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend %type-body;
    color: $color-body-text;
}

a {
    transition: color $global-transition-time $global-easing-function;
    text-decoration: none;
    color: $color-links;

    &:hover {
        color: $green;
    }
}

img {
    width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0;
}


// Forms
input {
    @extend %type-input;
    color: $color-input-text;
    height: 40px;
    padding: 0 10px;
    border: 1px solid $color-borders;
    border-radius: $global-border-radius;
    background: none;
}

label {
    @extend %type-label;
}

button {
    @extend %type-button;
    line-height: 35px;
    color: $white;
    height: 35px;
    padding: 0 20px;
    background: $green;
    border: 0;
    border-radius: $global-border-radius;
}