html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $color-body-text;
}

img {
    width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0;
}
