// Main Colors
$green: #00b286;
$gray-1: #3f454d;
$gray-2: #70767f;
$gray-3: #bec3cc;
$white: #fff;
$black: #000;

// Color Applications
$color-headings: $gray-1;
$color-body-text: $gray-2;
$color-icons: $gray-3;
$color-links: $gray-3;
$color-borders: $gray-3;
$color-input-text: $gray-1;